Options +FollowSymLinks
RewriteEngine On
RewriteBase /

# Rediriger toutes les URL vers index.html sauf fichiers et dossiers existants
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]